cagent/*
configstore/*
git/*
github-copilot/*
herdr/herdr-client.log
herdr/herdr-server.log
herdr/release-notes.json
herdr/session.json
herdr/.plugins.lock
hunk/*
kilo/*
mole/*
op/*
opencode/*
raycast/*
raycast-x/*
zed/*
.DS_Store
